.main-bg {
  background-image: url("../img/confetti-doodles.svg");
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}

.white-bg {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.menu-spacing {
  height: 65px;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10rem var(--gap);
}

.section {
  min-height: 100vh;
}

body .full-width {
  width: 100%;
  flex: 1 1 100%;
}