:root {
    --primary-color: #0a1128;
    --secondary-color: crimson;
    --white-color: #ffffff;
    --light-gray-color: #EEEEEE;
    --medium-gray-color: #999393;
    --dark-gray-color: #5f5f5f;
    --gap: 3rem;
  }
  